@model List<Office365PlannerTask.Models.MyPlan>
@{
    ViewBag.Title = "Group Plans";
}

<h2>Group Plans</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Owner</th>
        <th>Created By</th>
        <th>Task Count</th>
        <th>Commands</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.id)</td>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td>@Html.DisplayFor(modelItem => item.owner)</td>
            <td>@Html.DisplayFor(modelItem => item.createdBy)</td>
            <td>@Html.DisplayFor(modelItem => item.taskCount)</td>
            <td>
                @Html.ActionLink("Details", "../Plan/Details", new { id = item.id }) |
                @Html.ActionLink("Update", "../Plan/Update", new { id = item.id }) |
                @Html.ActionLink("Tasks", "../Task/Index", new { planid = item.id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Group Home", "Index")
</p>
